<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="BQIntEntities" connectionString="metadata=res://*/BQInt.csdl|res://*/BQInt.ssdl|res://*/BQInt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.0.253;initial catalog=BQInt;persist security info=True;user id=sa;password=12345678x@X;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BQDATEntities" connectionString="metadata=res://*/Sage.csdl|res://*/Sage.ssdl|res://*/Sage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.1.0.253;initial catalog=BQDAT;persist security info=True;user id=sa;password=12345678x@X;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="EmailBQGenatecDisplayName" value="BQ Genatec" />
    <!--<add key="EmailBQGenatecAccount" value="bq.genatec@tma.com.vn" />-->
    <add key="EmailBQGenatecAccount" value="hoang.phamvan994@gmail.com.vn" />
    <add key="EmailServerDisplayName" value="BQ TMA" />
    <add key="EmailServerAccount" value="zingzing995@gmail.com" />
    <add key="EmailServerPassword" value="vanhoang123" />
    <add key="EmailServerHost" value="smtp.gmail.com"/>
    <add key="EmailServerPort" value="587"/>
    <add key="SmtpEnableSsl" value="true" />
    <add key="SmtpUseDefaultCredentials" value="false" />
    <add key="SmtpTimeout" value="10000" />
  </appSettings>
</configuration>